.site-footer {
	background: #32373C;
	height: 250px;

	.site-info {
		overflow: hidden;
		width: 100%;
		height: 100%;

		.left-foot {
			width: 50%;
			float: left;

			.inner-l {
				width: 50%;
				float: left;
				padding-left: 2rem;
				padding-top: 2rem;

				&:after {
					content: "";
					display: table;
					clear: both;
				}

				p {
					color: white;
					padding: 0 0 0 20px;
					margin: 0;

					&.inline {
						display: inline;
						padding: 0;
					}
				}

				span {
					color: $red;
					display: inline;
				}
			}

			.inner-r {
				width: 50%;
				float: right;
				padding-top: 2rem;

				&:after {
					content: "";
					display: table;
					clear: both;
				}

				.routes {
					color: white;
					text-decoration: none;
					display: block;
					margin-bottom: 7px;

					&:after {
						content: "";
						display: table;
						clear: both;
					}
				}

				a {
					text-decoration: none;
					color: inherit;

					span {
						color: white;
						margin-right: 10px;
						transition: color 0.4s ease;
						font-size: 18px;

						&:hover {
							color: $red;
						}
					}
				}
			}

		}

		.right-foot {
			width: 50%;
			float: right;
			padding-right: 10rem;
			padding-top: 4rem;
			overflow: hidden;

			a {
				height: 100%;
				width: 100%;
			}
			
			h1 {
				float: right;
				color: white;
			}
			// #logo {
			// 	float: right;
			// }
		}

		
		//Updated Footer
		.footer {
			float: left;
			width: 33.333333%;
			height: 100%;

			&.left {
				text-align: center; 
				display: table;

				.footer-left-link {
					display: inline-block;
					text-decoration: none;
					width: 100%;
					color: white;
					display: table-cell;
					vertical-align: middle;

					.footer-left-header {
						margin: 0; 
						padding: 0;
					}
				}
			}

			&.center {
				text-align: center; 
				display: table;
				
				.footer-site-map {
					display: table-cell;
					vertical-align: middle;
					
					.borders {
						border-left: 1px solid #ccc;
						border-right: 1px solid #ccc;

						.site-map-links {
							display: block;
							color: white;
							text-decoration: none;
							padding: 5px 0;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}

			&.right {
				text-align: center;
				display: table;
				
				.footer-more-info {
					display: table-cell;
					vertical-align: middle;

					span, p {
						margin: 0;
						padding: 0;
					}

					.info-wrapper {
						overflow: hidden;
						margin: 20px 0;

						.icon-phone, .icon-location {
							color: $red;
						}

						p {
							color: white;
						}
		

						a {
							text-decoration: none;
							color: white;
							display: inline-block;
							margin: 0 5px;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}





















