.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

#masthead {
	position: absolute;
	top: 0;
	left: 0; 
	right: 0;
	background: transparent;
	z-index: 500;
	padding-top: 15px;

	.nav-left {
		float: left;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		a {
			display: inline-block;
			height: 100%;
			width: 100%;
		}

		.site-branding {
			float: left;
			margin-left: 7rem;

			h1 {
				color: white;
				margin-top: 30px;
				font-size: 22px;
			}


			&:after {
				content: '';
				display: table;
				clear: both;
			}

			.site-title {
				text-indent: -9999px;
			}
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		.logo-text {
			float: right;
			padding-top: 30px;
			padding-left: 10px;

			&:after {
				content: '';
				display: table;
				clear: both;
			}

			h5 {
				font-weight: 500;
				margin: 0;
				padding: 0;
				color: white;

				&.light {
					font-weight: 400;
				}
			}
		}
	}

	.main-navigation {
		float: right;
		width: 30%;
		clear: none;
		margin-top: 35px;
		margin-right: 30px;

		#primary-menu {
		
			li {
				margin-right: 25px;
				font-weight: 500;
				font-size: 15px;
				padding-bottom: 5px;
				transition: color 0.2s ease;

				&:hover {
					border-bottom: 2px solid $red;
				}



				// &:last-child {
				// 	background: $red;
			 //    padding: 5px 10px;
			 //    color: white;
			 //    border-radius: 0 7px 5px 7px;
			 //    margin-top: -5px;
			 //    margin-right: 5px;

			 //    &:hover {
			 //    	border-bottom: none;
			 //    }
				// }

				a {
					text-decoration: none; 
					color: white;
					transition: color 0.2s ease;
					cursor: pointer;

					&:hover {
						color: $red;
					}
				}
			}
		}
		
		a {
			display: inline-block;
			color: inherit;

			span {
				padding: 0 10px;
				font-size: 20px;
				color: inherit;
				transition: color 0.4s ease;

				&:hover {
					color: $red;
				}
			}
		}
	}


}










