#events-page {

	h1 {
		font-size: 22px;
    font-weight: 500;
    color: $dark;
   }

  p {
    color: $dark;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
  }

  a {
  	display: inline-block;
  	text-decoration: none;
  	color: inherit;
  }

	#section-1 {
		height: 500px;
		background-image: url("https://hd.unsplash.com/photo-1452690700222-8a2a1a109f4c");
		background-size: cover; 
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;

		.overlay {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.10);
		}

		.text-wrapper {
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 50%;
			height: 20%;

			h1 {
				text-align: center;
				color: white;
				font-size: 34px;
			}
		}
	}

	#section-2 {

		.event-header {
			width: 100%;
			text-align: center;
			margin: 0 auto;
			padding-top: 3rem;
			padding-bottom: 3rem;

			li {
				list-style: none;
				// display: inline-block;
				display: none;

				a {
					text-decoration: none;
					color: $red;
				}
			}
		}
	}

	#section-3 {
		max-width: 1200px;
		margin: 0 auto;
		overflow: hidden;
		padding-bottom: 50px;

		h3 {
			padding: 0;
			margin: 0;
			background: $blue;
			color: white;
			padding: 10px 20px;
		}

		h2 {
			padding-left: 10px;
		}

		a {
			color: white;
			text-decoration: none;
			font-size: 16px;
			font-weight: 500;
			padding: 0;
			margin: 0;
		}

		p {
			padding: 0;
			margin: 0;

			&.no-event {
				padding-left: 10px;
			}
		}

		.event-outer {
			float: left;
			width: 33.333333%;
			height: 350px;
			padding: 0 10px;
			margin-bottom: 30px;
			
			.event-wrapper {
				border: 1px solid rgba(0, 0, 0, 0.2);
				height: 100%;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				border-radius: 2px;
			}

			.event-inner {
				padding: 15px 20px;
			}
		}
	}




	#section-1-show {
		height: 75px;
		background: $blue;
	}

	#section-2-show {
		max-width: 1100px;
		width: 100%;
		margin: 30px auto;
		padding-top: 30px;
		padding-bottom: 30px;
		overflow: hidden;

		.date-wrapper {
			width: 100%;
			text-align: center;

			h3 {
				margin: 0 0 20px;
				font-weight: 600;
				font-size: 18px;
				font-style: italic;
				display: block;
				width: 100%;
			}
		}

		.event-show-img-wrapper {
			width: 100%;
			height: 550px;
			position: relative;

			&:after {
				content: "";
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0, 0, 0, 0.50);
			}

			img {
				height: 100%;
				width: 100%;
			}
		}

		.event-show-header {
			width: 100%;
			margin-bottom: 50px;

			.event-show-title {
				font-size: 25px;
				font-weight: 600;
				font-style: italic;
				margin: 40px 0 0;
				text-align: center;
			}
			
			p {
				letter-spacing: 0.75px;

				&.event-show-chapter {
					color: #454552;
					font-size: 16px;
					text-align: center;
					margin: 0 0 20px;
					padding: 0;
					line-height: 28px;

					span {
						font-weight: 600;
						padding-left: 3px;
					}
				}
			}
		}

		.event-show-description {
			float: right;
			width: 50%;
			height: 100%;
			padding-top: 10px;

			&:after {
				content: "";
				display: block;
				clear: both;
			}

			p {
				margin: 0;
			}
		}

		.event-show-info {
			float: left; 
			width: 50%;
			height: 100%;
			padding-top: 10px;

			p {
				margin: 0;
			}

			span {
				font-weight: 600;
			}

			.event-show-btns {
				width: 100%;
				margin-top: 25px;

				a {
					.event-show-btn {
						background: $red;
						outline: none;
						border: 0;
						color: white;
						box-shadow: none;
						line-height: normal;
						padding: 10px 20px;
						border-radius: 2px;
						text-shadow: none;
						font-size: 14px;
						margin-right: 10px;

						&:hover {
							opacity: 0.9;
						}

						&.see-photos-btn {
							background: transparent;
							color: black;
							border: 1px solid black;
						}
					}
				}
			}
		}

	.event-show-speakers-wrapper {
		width: 100%;
		overflow: hidden;
		display: block;
		padding-top: 50px;

		.speaker-wrapper {
			float: left;
			width: 33.333333%;
			padding-right: 25px;
			margin: 20px 0 30px;

			p {
				margin: 0;
				line-height: 26px;

				&.speaker-bio {
					height: 152px;
					overflow: hidden;
				}
			}

			span {
				font-weight: 600;
			}

			img {
				height: 150px;
				max-width: 100%;
				display: block;
			}

			.view-more {
				display: block;
				text-align: center;
				margin-top: 20px;
				color: $red;
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}

	.event-show-sponsors-wrapper {
		width: 100%;
		overflow: hidden;

		h3 {
			margin: 10px 0;
		}

		.sponsor-wrapper {
			float: left;
			width: 33.333333%;
			padding-right: 25px;

			.sponsor-title {
				font-size: 16px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			img {
				height: 150px;
				max-width: 100%;
				display: block;
			}

			.sponsor-descrip {
				overflow: hidden;
				height: 150px;
				margin: 0;
			}

			.view-more {
				display: block;
				text-align: center;
				margin-top: 20px;
				color: $red;
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}

	.modal-container {
		display: block;
		position: fixed;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.5);
		z-index: 1000;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.modal {
			width: 500px;
			height: 500px;
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			left: 0;
			right: 0;
			background: white;
			margin: 0 auto;
			display: block;
			padding: 20px 40px;
			overflow: auto;

			span {
				float: right;
				font-size: 18px;
			}

			h3 {
				text-align: center;
				margin-top: 20px;
			}

			img {
				display: block;
				width: 200px;
				height: 150px;
				margin: 0 auto;
			}

			p {
				margin-top: 25px;
			}
		}
	}



	}


	#events-tabs-section {	
		background: #f1f1f1;
		padding-bottom: 50px;

		.events-li {
			list-style: none;
			text-align: center;
			font-weight: 600;
			
			.events-a {
				color: black;
				font-size: 18px;
				display: inline-block;
				margin: 30px 0;
				text-decoration: underline;
			}
		}

		#tabs {
			width: 90%;
			margin: 20px auto 0;
			padding: 0;
			border: none;
			overflow: hidden;
			// -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
			// -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
			// box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
			// border: 1px solid #ccc;

			.ui-tabs-nav {
				margin: 0;
				padding: 0;
				border: none;
				background: #f1f1f1;
				height: 55px;

				li {
					float: left; 
					width: 20%;
					color: $blue;
					font-size: 18px;
					padding: 5px;
					margin: 0;
					border: none;
					background: none;
					border-radius: 0;
					height: 100%;

					&.ui-tabs-active {
						padding-bottom: 0;
						color: black;
						background: white;
						font-weight: 500;
						transition: all 0.3s ease-out;
					}

					&:after {
						content: "";
						display: block;
						clear: both;
					}

					.ui-tabs-anchor {
						display: block; 
						width: 100%;
						text-align: center;
						font-weight: 600;
						outline: 0;
					}
				}
			}

			// .ui-tabs-panel {
			// 	overflow: auto;
			// }

			.no-events {
				font-size: 18px;
				text-align: center;
				margin-top: 25px;
			}

			.event-wrapper {
				width: 90%;
				height: 250px;
				text-align: center;
				overflow: hidden;
				padding: 10px 0 40px;
				margin: 15px auto;
				border-bottom: 1px solid #ccc;

				&:last-child {
					border-bottom: 0;
				}

				.image-wrapper {
					float: left;
					width: 35%;
					height: 100%;
					position: relative;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;

					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						height: 100%;
						width: 100%;
						background: rgba(0,0,0,0.5);
					}

					img {
						height: 100%;
						width: 100%;
					}

					.event-date {
						position: absolute;
						margin: auto;
						text-align: center;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						color: white;
						font-size: 35px;
						z-index: 500;
						width: 100%;
						font-family: 'Libre Baskerville', serif;					
					}
				}

				.text-wrapper {
					width: 65%;
					height: 100%;
					float: right;
					text-align: left;
					padding-left: 75px;

					p {
						margin: 0;
						padding: 0;
						line-height: normal;

						&.event-time {
							display: inline-block;
							font-style: italic;
							font-size: 14px;
							margin: 0 0 10px 0;
						}
					}

					.event-description-container {
						overflow: hidden;
						height: 75px;
						padding-right: 10px;

						.event-description {
							line-height: 24px;
							font-size: 16px;

							a {
								text-decoration: underline;
								font-weight: 600;
								display: inline;
							}
						}
					}

					h3 {
						text-decoration: none;
						font-weight: 600;
						font-size: 30px;
						font-style: italic;
						margin: 0;
						padding: 0;
						line-height: 40px;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						
						a {
							&:hover {
								text-decoration: underline;
							}
						}
					}
					
					.icon-wrapper {
						overflow: hidden;
						width: 100%;
						display: block;

						icon {
							text-align: right; 
							display: block;
							font-size: 30px;
							padding-right: 10px;
						}
					}
				}
			}
		}
	}

}

















