#index-page {

	h1, h3, h5, p {
		color: $dark;
	}

	#section-1 {
		height: 450px;
		position: relative;

		.text-wrap {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			padding-top: 15%;
			position: absolute;
			top: 0;
			z-index: 50;

			h1, h3, h5 {
				color: white;
				padding: 0;
				margin: 0;
				font-weight: 500;
			}

			h1 {
				font-size: 40px;
			}

			h3 {
				font-size: 18px;
				font-weight: 400;
			}

			h5 {
				font-size: 16px;

				span {
					color: $red;
				}
			}

			.buttons-wrapper {
				margin-top: 30px;

				a {
					text-decoration: none;
					color: inherit;

					button {
						background: $red;
						outline: none;
						border: 0;
						color: white;
						box-shadow: none;
						line-height: normal;
						padding: 12px 55px;
						border-radius: 2px;
						margin: 0 5px;
						text-shadow: none;
						font-size: 14px;

						&:hover {
							opacity: 0.9;
						}

						&.trans {
							background: transparent;
							border: 1px solid white;
						}
					}
				}
			}
		}
	}
	
	#section-2 {
		padding-top: 12rem;

		.about {
			max-width: 60%;
			margin: 3rem auto 2rem;
		}

		.divider {
			border: 1px solid #ccc;
			width: 10rem;
			margin: 0 auto;
		}

		h3 {
			text-align: center;
			margin-top: 24px;
			font-weight: 500;
			margin-top: 40px;
		}

		.icons-wrapper {
			max-width: 1100px;
			margin: 0 auto;
			overflow: hidden;
			padding-top: 100px;
			padding-bottom: 75px;
			border-bottom: 1px solid #ccc;

			.icon {
				float: left;
				width: 33.333333%;
				height: 100%;
				text-align: center;
				padding: 0 20px;

				.inner {
					padding: 0 5px;

					img {
						height: 250px;
						width: 100%;
					}

					h3 {
						color: $dark;
					}

					p {
						font-size: 14px;
						font-weight: 400;
						line-height: 24px;
						text-align: left;
					}

					a {
						text-decoration: none; 
						color: $red;
					}
				}
			}
		}

		// .stately {
		//   width: 300px;
		//   font-size: 300px;
		//   background: white;

		//   .nj, .ny, .dc, .ct { 
		// 	  color: $red;
		// 	}
		// }

		// .state-wrap {
		// 	text-align: center;
		// 	margin-top: 2rem;

		// 	p {
		// 		display: inline;
		// 		padding-right: 2rem;
		// 		color: $red;
		// 		font-weight: 600;

		// 		&:first-child {
		// 			padding-left: 2rem;
		// 		}
		// 	}
		// }
	}

	#section-3 {
		height: 500px;
		margin-bottom: 175px;

		.inner-wrapper {
			width: 1100px;
			text-align: center;
			margin: 0 auto;
			overflow: hidden;

			h1 {
				text-align: center;
				margin-top: 75px;
				font-size: 22px;
				font-weight: 500;
				color: $dark;
			}

			p {
				text-align: center;
				font-size: 16px;
				max-width: 750px;
				line-height: 30px;
				margin: 25px auto;
				color: $dark;
			}

			a {
				color: $red;
				text-decoration: none;
			}

			h3 {
				text-align: center;
				padding-top: 4rem;
				color: white;
			}

			.we-wrapper {
				max-width: 750px;
				margin: 100px auto 75px;
				overflow: hidden;

				.we {
					float: left;
					width: 33.333333%;

					img {
						width: 100px;
						height: 100px;
					}

					p, span {
						display: block;
					}

					span {
						padding-top: 15px;
						color: $red;
						font-size: 50px;
					}

					p {
						color: $dark;
						font-size: 18px;
						margin: 0;
						padding: 0;
					}
				}
			}
		}
	}


	// 	.video-wrapper {
	// 		max-width: 600px;
	// 		margin: 0 auto;
	// 		overflow: hidden;

	// 		.video {
	// 			margin: 0;
	// 			box-shadow: 0px 4px 40px 3px rgba(0, 0, 0, 0.5);
	// 			float: none;
	// 			clear: both;
	// 			width: 100%;
	// 			position: relative;
	// 			padding-bottom: 56.25%;
	// 			padding-top: 25px;
	// 			height: 0;

	// 			iframe {
	// 				position: absolute;
	// 				top: 0;
	// 				left: 0;
	// 				width: 100%;
	// 				height: 100%;
	// 			}
	// 		}
	// 	}
	// }
	
	#section-4 {
		height: 400px;
		width: 100%;
		background-image: url("http://localhost:8888/pwc/wp-content/uploads/2016/05/photo-1460378150801-e2c95cb65a50.jpeg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;

		.overlay {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(232, 90, 113, 0.5);
		}

			.text-wrapper {
				position: relative; 
				z-index: 100;
				padding-top: 100px;
				text-align: center;

				h3 {
					color: white;
					font-weight: 400;
					font-size: 30px;
				}

				a {
					outline: none;
					color: white;
					box-shadow: none;
					line-height: normal;
					padding: 12px 55px;
					border-radius: 2px;
					margin: 0 5px;
					text-shadow: none;
					font-size: 14px;
					background: transparent;
					border: 1px solid white;
					text-decoration: none;
				}
			}

		// h3 {
		// 	text-align: center;
		// 	padding-top: 3rem;
		// }

		// p {
		// 	width: 70%;
		// 	margin: 0 auto;
		// 	padding-top: 1rem;
		// }

		// .buttons {
		// 	width: 70%;
		// 	margin: 0 auto;
		// 	text-align: center;
		// 	padding-top: 3rem;

		// 	button {
		// 		background: $red;
		// 		outline: none;
		// 		border: 0;
		// 		color: white;
		// 		box-shadow: none;
		// 		line-height: normal;
		// 		padding: 10px 20px;
		// 		border-radius: 5px;
		// 		margin: 0;
		// 		text-shadow: none;
		// 		font-size: 14px;

		// 		&:hover {
		// 			opacity: 0.8;
		// 		}

		// 		&:first-child {
		// 			margin-right: 1rem;
		// 		}
		// 	}
		// }
	}

	#section-5 {
		height: 400px;
		background: #F9F9F9;

		h3 {
			text-align: center;
			padding-top: 3rem;
		}

		.sponsor-wrap {
			overflow: hidden;
			width: 50%;
			margin: 0 auto;

			.sponsor {
				display: inline-block;
				width: 24%;
				background: #CCC;
				height: 75px;
			}
		}
	
	}
}












