@media all and (max-width: 50rem) {
	//Nav
	#masthead {

		.nav-left {
			height: 100%;
			width: 50%;
			text-align: center;

			.site-branding {
				width: 100%;
				float: none;
				margin: 0;
			}
		}

		#site-navigation {
			display: none;
		}

		.mobile-navigation {
			height: 100%;
			width: 50%;
			float: right;
			display: block;

			.icon-wrapper {
				float: right;
				padding: 30px;
				cursor: pointer;

				.icon-align-justify {
					color: white;
					font-size: 24px;
				}
			}

			.menu-main-container {
				display: none;
				position: relative;

				.menu {
					margin: 0;
					padding: 10px 20px;
					position: absolute;
					border: 1px solid $dark;
					background: $dark;
					right: 30px;
					top: 65px;
					width: 150px;

					.menu-item {
						list-style: none;

						a {
							color: white;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	//Home page
	#index-page {
		#section-1 {
			.text-wrap {
				padding: 0 10px;

				h3 {
					font-size: 16px;
				}

				h1 {
					font-size: 30px;
					margin: 10px 0;
				}
			}

			.buttons-wrapper {
				margin: 20px 0 !important;

				a {
					display: block;
					margin: 10px 0;
				}
			}
		}

		#section-3 {
			.inner-wrapper {
				margin: 50px auto 0;
				width: 100%;
				padding: 0 10px;
				border-bottom: none;

				.we-wrapper {
					width: 100%;
					margin: 55px auto 0;

					.we {
						float: none;
						width: 100%;
						padding-bottom: 50px;

						img {
							width: 75px;
						}

						span {
							font-size: 30px;
						}

						p {
							font-size: 16px;
						}
					}
				}
			}
		}

		#section-2 {
			.icons-wrapper {
				padding: 0;

				.icon {
					float: none;
					width: 100%;
					padding: 0 10px !important;
					margin-bottom: 40px;
				}
			}
		}
	}

	//About
	#about-page {
		#section-2 {
			
		}
	}

	//Footer
	.site-footer {
		height: auto !important;

		.site-info {
			overflow: visible !important;

			.footer {
				width: 100% !important;
				float: none !important;

				.info-wrapper {
					a {
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}















}