@media all and (max-width: 50rem) {
	//Nav
	#masthead {

		.nav-left {
			height: 100%;
			width: 50%;
			text-align: center;

			.site-branding {
				width: 100%;
				float: none;
				margin: 0;
			}
		}

		#site-navigation {
			display: none;
		}

		.mobile-navigation {
			height: 100%;
			width: 50%;
			float: right;
			display: block;

			.icon-wrapper {
				float: right;
				padding: 30px;
				cursor: pointer;

				.icon-align-justify {
					color: white;
					font-size: 24px;
				}
			}

			.menu-main-container {
				display: none;
				position: relative;

				.menu {
					margin: 0;
					padding: 10px 20px;
					position: absolute;
					border: 1px solid $dark;
					background: $dark;
					right: 30px;
					top: 65px;
					width: 150px;

					.menu-item {
						list-style: none;

						a {
							color: white;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	//Home page
	#index-page {
		#section-1 {
			.text-wrap {
				padding: 0 10px;

				h3 {
					font-size: 16px;
				}

				h1 {
					font-size: 30px;
					margin: 10px 0;
				}
			}

			.buttons-wrapper {
				margin: 20px 0 !important;

				a {
					display: block;
					margin: 10px 0;
				}
			}
		}

		#section-3 {
			.inner-wrapper {
				margin: 50px auto 0;
				width: 100%;
				padding: 0 10px;
				border-bottom: none;

				.we-wrapper {
					width: 100%;
					margin: 55px auto 0;

					.we {
						float: none;
						width: 100%;
						padding-bottom: 50px;

						img {
							width: 75px;
						}

						span {
							font-size: 30px;
						}

						p {
							font-size: 16px;
						}
					}
				}
			}
		}

		#section-2 {
			.icons-wrapper {
				padding: 0;

				.icon {
					float: none;
					width: 100%;
					padding: 0 10px !important;
					margin-bottom: 40px;
				}
			}
		}
	}

	//About
	#about-page {
		#section-2 {
			.about-container {
				padding: 0 !important;

				.side-menu {
					float: none !important;
					width: 100% !important;
					text-align: center !important;
					margin: 20px 0 !important;
				}

				.text-wrapper {
					width: 100% !important;
					float: none !important;
					padding: 0 20px !important
					;
					margin: 30px auto !important
					;

					.short-title {
						font-size: 16px !important;
					}

					.contact-header {
						text-align: center !important;
						font-size: 18px !important;
					}

					.contact-wrapper {
						padding: 0 20px !important;

						.contact-chpt, .contact {
							width: 100% !important;
							float: none !important;
							height: auto !important;
							padding: 0 !important;
						}
					}
				}
			}
		}
	}

	//Events
	#events-page {
		#section-2-show {

			.event-show-header {
				margin-bottom: 35px !important;
			}

			.event-show-img-wrapper {
				height: 250px !important;
			}

			.event-show-description, .event-show-info, .event-show-sponsors-wrapper {
				float: none !important;
				width: 100% !important;
				padding: 0 20px !important;
			}

			.event-show-info {
				margin-top: 50px !important;
			}

			.event-show-speakers-wrapper {
				padding: 50px 20px 0 !important;

				.speaker-wrapper {
					float: none !important;
					width: 100% !important;
					padding: 0 !important;
					margin: 0 0 40px !important;

					.speaker-name {
						height: auto !important;
						padding-bottom: 20px !important;
					}

					.speaker-bio {
						font-size: 14px !important;
					}
				}
			}

			.sponsor-wrapper {
				float: none !important;
				width: 100% !important;
				padding: 0 !important;
				margin: 0 !important; 
			}
		}
	}

	//Footer
	.site-footer {
		height: auto !important;

		.site-info {
			overflow: visible !important;

			.footer {
				width: 100% !important;
				float: none !important;

				.info-wrapper {
					a {
						&:hover {
							text-decoration: none;
						}
					}
				}

				.footer-site-map {
					.borders {
						border-left: 0 !important;
						border-right: 0 !important;
					}
				}
			}
		}
	}


	//Tabs
	#events-tabs-section {
		#tabs {
			.ui-tabs-nav {
				height: auto !important;

				li {
					width: 100% !important;
					float: none !important;
					padding: 0 !important;
					background: white !important;
					height: auto !important;
					font-size: 14px !important;

					&.ui-tabs-active {
						padding: 0 !important;
						transition: none !important;
					}
				}
			}

			.ui-tabs-panel {
				padding: 10px !important;
			}

			.no-events {
				font-size: 14px !important;
			}

			.event-wrapper {
				height: auto !important;

				.image-wrapper {
					float: none !important;
					width: 100% !important;
					max-width: 100% !important;
					height: auto !important;

					&.fixed-height {
						height: 200px !important;
					}
				}

				.text-wrapper {
					margin: 25px auto !important;
					padding: 0 !important;

					&.events {
						width: 100% !important;
						float: none !important;
					}

					.event-description-container {
						height: auto !important;

						.event-description {
							font-size: 14px !important;
						}
					}

					.icon-wrapper {
						display: none !important;
					}

					h3 {
						line-height: normal !important;
						overflow: visible !important;
						padding: 0 !important;
						margin: 5px 0 !important;
						font-size: 15px !important;
						white-space: normal !important;
						font-weight: 500 !important;
						
						a {
							font-size: inherit !important;
						}
					}
				}

				.board-member-desc {
					padding-top: 0 !important;

					.board-member-p {
						font-size: 14px !important;
					}
				}
			}

			.event-wrapper {
				.about-header {
					font-size: 16px !important;
				}

				.about-sub-header {
					font-size: 12px !important;
				}

				.about-body {
					font-size: 14px !important;
				}
			}
		}
	}















}