#news-page {
	h1 {
		font-size: 22px;
    font-weight: 500;
    color: $dark;
   }

  p {
    color: $dark;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  a {
  	display: inline-block;
  	text-decoration: none;
  	color: inherit;
  }

	#section-1 {
		height: 400px;
		background-image: url("https://hd.unsplash.com/photo-1453873623425-04e3561289aa");
		background-size: cover; 
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;

		.overlay {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.10);
		}

		.text-wrapper {
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 50%;
			height: 20%;

			h1 {
				text-align: center;
				color: white;
				font-size: 34px;
			}
		}
	}

	#section-2 {
		width: 100%;
		
		.news-container {
			width: 1150px;
			margin: 50px auto;

			.news-wrapper {
				h3 {
					margin: 0;
					padding: 0;
					color: $blue;
					font-size: 22px;
				}

				.date-posted {
					line-height: normal;
					padding: 0;
					margin: 0;
					font-style: italic;
					font-weight: 600;
				}

				.divider {
					height: 1px;
					width: 100%;
					margin: 25px auto 50px;
					background: #ccc;
				}
			}
		}
	}


	#section-1-show {
		height: 75px;
		width: 100%;
		background: $blue;
	}

	#section-2-show {
		max-width: 1100px;
		width: 100%;
		margin: 30px auto;
		padding-top: 30px;
		padding-bottom: 30px;
		overflow: hidden;

		.date-wrapper {
			width: 100%;
			text-align: center;

			h3 {
				margin: 0 0 20px;
				font-weight: 600;
				font-size: 18px;
				font-style: italic;
				display: block;
				width: 100%;
			}
		}

		.event-show-img-wrapper {
			width: 100%;
			height: 550px;
			position: relative;

			&:after {
				content: "";
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0, 0, 0, 0.50);
			}

			img {
				height: 100%;
				width: 100%;
			}
		}

		.event-show-header {
			width: 100%;
			margin-top: 25px;
			margin-bottom: 30px;

			.event-show-title {
				font-size: 25px;
				font-weight: 600;
				font-style: italic;
				margin: 40px 0 0;
				text-align: center;
			}
		}

		.news-description {
			-webkit-columns: 300px 2;
			-moz-columns: 300px 2;
			columns: 300px 2;

			p {
				margin: 0;
				padding: 0 15px;
				line-height: 28px;
				text-align: justify;
			}
		}
	}
}

























